<footer class="layout-footer">
    <div class="clearfix p-grid p-nogutter">
        <span class="p-col-4 footer-link-container">
            <a class="footer-text-left" href="mailto:yuriy.syrota@gmail.com" target="_blank">Contact Us</a>
        </span>

        <span class="p-col-4 p-offset-4 footer-link-container">
            <a href="http://www.linkedin.com/in/yuriy-syrota" target="_blank" class="footer-text-right">
                Copyright &copy; 2023 Yuriy Syrota</a>
        </span>
    </div>
</footer>