.page
{
    width: 100%;
    height: 100%;
    padding: 10px;
    background-image: url("/assets/layout/images/landing/bikes_r_us.jpg");
    background-repeat: no-repeat;
    background-size: contain;    
    background-position: center;
}
